html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header, .footer {
  height: 100px;
  background-color: lightsteelblue;
}
.content {
  display: flex;
  flex: 1 1 auto;
  background-color: #990;
}

.up-down-button{
  flex: 1 1 auto;
  width: 30%;
  margin: auto;
  text-align: center;
}
.hidden {
  display: none;
}

.app-bar {
  background-color: #DD0;
}
